
RData/.Rproj.user/shared/notebooks/paths
RData/.Rproj.user/16CAA18D/sources/prop/INDEX
RData/.Rproj.user/16CAA18D/sources/prop/E3163ECE
RData/.Rproj.user/16CAA18D/sources/prop/D65FFC62
RData/.Rproj.user/16CAA18D/sources/prop/CE55F5C5
RData/.Rproj.user/16CAA18D/sources/prop/C88802E8
RData/.Rproj.user/16CAA18D/sources/prop/C77F0771
RData/.Rproj.user/16CAA18D/sources/prop/C736860F
RData/.Rproj.user/16CAA18D/sources/prop/B9DD11F5
RData/.Rproj.user/16CAA18D/sources/prop/B8618A81
RData/.Rproj.user/16CAA18D/sources/prop/B6B767F1
RData/.Rproj.user/16CAA18D/sources/prop/B0CA4F40
RData/.Rproj.user/16CAA18D/sources/prop/ADB2823C
RData/.Rproj.user/16CAA18D/sources/prop/A6C5088E
RData/.Rproj.user/16CAA18D/sources/prop/9EA02385
RData/.Rproj.user/16CAA18D/sources/prop/997004CA
RData/.Rproj.user/16CAA18D/sources/prop/91530FAD
RData/.Rproj.user/16CAA18D/sources/prop/8909EA42
RData/.Rproj.user/16CAA18D/sources/prop/772075B1
RData/.Rproj.user/16CAA18D/sources/prop/76128A73
RData/.Rproj.user/16CAA18D/sources/prop/7147C441
RData/.Rproj.user/16CAA18D/sources/prop/6F75F141
RData/.Rproj.user/16CAA18D/sources/prop/5F069DD0
RData/.Rproj.user/16CAA18D/sources/prop/5ED867B5
RData/.Rproj.user/16CAA18D/sources/prop/522F9382
RData/.Rproj.user/16CAA18D/sources/prop/5198DC16
RData/.Rproj.user/16CAA18D/sources/prop/46636B79
RData/.Rproj.user/16CAA18D/sources/prop/3CCE9256
RData/.Rproj.user/16CAA18D/sources/prop/3B8984AC
RData/.Rproj.user/16CAA18D/sources/prop/38C18AE3
RData/.Rproj.user/16CAA18D/sources/prop/354DD5A3
RData/.Rproj.user/16CAA18D/sources/prop/3118F4EE
RData/.Rproj.user/16CAA18D/sources/prop/306F184A
RData/.Rproj.user/16CAA18D/sources/prop/2D1CAC7C
RData/.Rproj.user/16CAA18D/sources/prop/29FC1AA5
RData/.Rproj.user/16CAA18D/sources/prop/29B9C13A
RData/.Rproj.user/16CAA18D/sources/prop/2928B695
RData/.Rproj.user/16CAA18D/sources/prop/21B58A5B
RData/.Rproj.user/16CAA18D/sources/prop/2112D8A0
RData/.Rproj.user/16CAA18D/sources/prop/208B18AD
RData/.Rproj.user/16CAA18D/sources/prop/165F9C45
RData/.Rproj.user/16CAA18D/sources/prop/0C925640
RData/.Rproj.user/16CAA18D/sources/per/u/13723D15-contents
RData/.Rproj.user/16CAA18D/sources/per/u/13723D15
RData/.Rproj.user/16CAA18D/sources/per/u/0026B382-contents
RData/.Rproj.user/16CAA18D/sources/per/u/0026B382
RData/.Rproj.user/16CAA18D/sources/per/t/DF49D53E-contents
RData/.Rproj.user/16CAA18D/sources/per/t/DF49D53E
RData/.Rproj.user/16CAA18D/sources/per/t/A8B4288E-contents
RData/.Rproj.user/16CAA18D/sources/per/t/A8B4288E
RData/.Rproj.user/16CAA18D/sources/per/t/8752D308-contents
RData/.Rproj.user/16CAA18D/sources/per/t/8752D308
RData/.Rproj.user/16CAA18D/sources/per/t/6E794093-contents
RData/.Rproj.user/16CAA18D/sources/per/t/6E794093
RData/.Rproj.user/16CAA18D/sources/per/t/5CD2EECD-contents
RData/.Rproj.user/16CAA18D/sources/per/t/5CD2EECD
RData/.Rproj.user/16CAA18D/sources/per/t/53733021-contents
RData/.Rproj.user/16CAA18D/sources/per/t/53733021
RData/.Rproj.user/16CAA18D/sources/per/t/4BC6DDD7-contents
RData/.Rproj.user/16CAA18D/sources/per/t/4BC6DDD7
RData/.Rproj.user/16CAA18D/sources/per/t/3CDD4AFF-contents
RData/.Rproj.user/16CAA18D/sources/per/t/3CDD4AFF
RData/.Rproj.user/16CAA18D/sources/per/t/3BB1F66F-contents
RData/.Rproj.user/16CAA18D/sources/per/t/3BB1F66F
RData/.Rproj.user/16CAA18D/sources/per/t/0E32603B-contents
RData/.Rproj.user/16CAA18D/sources/per/t/0E32603B
RData/.Rproj.user/16CAA18D/pcs/windowlayoutstate.pper
RData/.Rproj.user/16CAA18D/pcs/files-pane.pper
RData/.Rproj.user/16CAA18D/pcs/debug-breakpoints.pper
RData/.RData
RData/.RData
RData/.RData
RData/.Rproj.user/16CAA18D/pcs/debug-breakpoints.pper
RData/.Rproj.user/16CAA18D/pcs/files-pane.pper
RData/.Rproj.user/16CAA18D/pcs/windowlayoutstate.pper
RData/.Rproj.user/16CAA18D/sources/per/t/0E32603B
RData/.Rproj.user/16CAA18D/sources/per/t/0E32603B-contents
RData/.Rproj.user/16CAA18D/sources/per/t/3BB1F66F
RData/.Rproj.user/16CAA18D/sources/per/t/3BB1F66F-contents
RData/.Rproj.user/16CAA18D/sources/per/t/3CDD4AFF
RData/.Rproj.user/16CAA18D/sources/per/t/3CDD4AFF-contents
RData/.Rproj.user/16CAA18D/sources/per/t/5CD2EECD
RData/.Rproj.user/16CAA18D/sources/per/t/5CD2EECD-contents
RData/.Rproj.user/16CAA18D/sources/per/t/6E794093
RData/.Rproj.user/16CAA18D/sources/per/t/6E794093-contents
RData/.Rproj.user/16CAA18D/sources/per/t/8752D308
RData/.Rproj.user/16CAA18D/sources/per/t/8752D308-contents
RData/.Rproj.user/16CAA18D/sources/per/t/A8B4288E
RData/.Rproj.user/16CAA18D/sources/per/t/A8B4288E-contents
RData/.Rproj.user/16CAA18D/sources/per/u/13723D15
RData/.Rproj.user/16CAA18D/sources/per/u/13723D15-contents
RData/.Rproj.user/16CAA18D/sources/prop/165F9C45
RData/.Rproj.user/16CAA18D/sources/prop/INDEX
RData/.Rproj.user/shared/notebooks/paths
RData/.Rproj.user/16CAA18D/pcs/debug-breakpoints.pper
RData/.Rproj.user/16CAA18D/pcs/files-pane.pper
RData/.Rproj.user/16CAA18D/pcs/source-pane.pper
RData/.Rproj.user/16CAA18D/pcs/windowlayoutstate.pper
RData/.Rproj.user/16CAA18D/pcs/workbench-pane.pper
RData/.Rproj.user/16CAA18D/sources/per/t/0E32603B
RData/.Rproj.user/16CAA18D/sources/per/t/0E32603B-contents
RData/.Rproj.user/16CAA18D/sources/per/t/3BB1F66F
RData/.Rproj.user/16CAA18D/sources/per/t/3BB1F66F-contents
RData/.Rproj.user/16CAA18D/sources/per/t/3CDD4AFF
RData/.Rproj.user/16CAA18D/sources/per/t/3CDD4AFF-contents
RData/.Rproj.user/16CAA18D/sources/per/t/5CD2EECD
RData/.Rproj.user/16CAA18D/sources/per/t/5CD2EECD-contents
RData/.Rproj.user/16CAA18D/sources/per/t/6E794093
RData/.Rproj.user/16CAA18D/sources/per/t/6E794093-contents
RData/.Rproj.user/16CAA18D/sources/per/t/8752D308
RData/.Rproj.user/16CAA18D/sources/per/t/8752D308-contents
RData/.Rproj.user/16CAA18D/sources/per/t/A8B4288E
RData/.Rproj.user/16CAA18D/sources/per/t/A8B4288E-contents
RData/.Rproj.user/16CAA18D/sources/per/u/13723D15
RData/.Rproj.user/16CAA18D/sources/per/u/13723D15-contents
RData/.Rproj.user/16CAA18D/sources/prop/165F9C45
RData/.Rproj.user/16CAA18D/sources/prop/5A91E206
RData/.Rproj.user/16CAA18D/sources/prop/80679073
RData/.Rproj.user/16CAA18D/sources/prop/8AA4E6D4
RData/.Rproj.user/16CAA18D/sources/prop/EC2FE194
RData/.Rproj.user/16CAA18D/sources/prop/INDEX
RData/.Rproj.user/16CAA18D/sources/s-396A93D5/03D4F8F1
RData/.Rproj.user/16CAA18D/sources/s-396A93D5/03D4F8F1-contents
RData/.Rproj.user/16CAA18D/sources/s-396A93D5/2F410BAD
RData/.Rproj.user/16CAA18D/sources/s-396A93D5/2F410BAD-contents
RData/.Rproj.user/16CAA18D/sources/s-396A93D5/338C144E
RData/.Rproj.user/16CAA18D/sources/s-396A93D5/338C144E-contents
RData/.Rproj.user/16CAA18D/sources/s-396A93D5/3B9FDA5C
RData/.Rproj.user/16CAA18D/sources/s-396A93D5/3B9FDA5C-contents
RData/.Rproj.user/16CAA18D/sources/s-396A93D5/568A7102
RData/.Rproj.user/16CAA18D/sources/s-396A93D5/568A7102-contents
RData/.Rproj.user/16CAA18D/sources/s-396A93D5/884F09AA
RData/.Rproj.user/16CAA18D/sources/s-396A93D5/884F09AA-contents
RData/.Rproj.user/16CAA18D/sources/s-396A93D5/B355E87C
RData/.Rproj.user/16CAA18D/sources/s-396A93D5/B355E87C-contents
RData/.Rproj.user/16CAA18D/sources/s-396A93D5/F46510BD
RData/.Rproj.user/16CAA18D/sources/s-396A93D5/F46510BD-contents
RData/.Rproj.user/16CAA18D/sources/s-396A93D5/F8186092
RData/.Rproj.user/16CAA18D/sources/s-396A93D5/F8186092-contents
RData/.Rproj.user/16CAA18D/sources/s-396A93D5/FFFB8DA9
RData/.Rproj.user/16CAA18D/sources/s-396A93D5/FFFB8DA9-contents
RData/.Rproj.user/16CAA18D/sources/s-396A93D5/lock_file
RData/.RData
RData/.Rhistory
RData/.Rproj.user/16CAA18D/pcs/files-pane.pper
RData/.Rproj.user/16CAA18D/pcs/windowlayoutstate.pper
RData/.Rproj.user/16CAA18D/persistent-state
RData/.Rproj.user/16CAA18D/sources/prop/00E71BC7
RData/.Rproj.user/16CAA18D/sources/prop/D33DF34A
RData/.Rproj.user/16CAA18D/sources/prop/INDEX
RData/.Rproj.user/16CAA18D/sources/session-91DFCFA2/03D4F8F1-contents
RData/.Rproj.user/16CAA18D/sources/session-91DFCFA2/2F410BAD
RData/.Rproj.user/16CAA18D/sources/session-91DFCFA2/2F410BAD-contents
RData/.Rproj.user/16CAA18D/sources/session-91DFCFA2/338C144E-contents
RData/.Rproj.user/16CAA18D/sources/session-91DFCFA2/3B9FDA5C-contents
RData/.Rproj.user/16CAA18D/sources/session-91DFCFA2/568A7102-contents
RData/.Rproj.user/16CAA18D/sources/session-91DFCFA2/884F09AA
RData/.Rproj.user/16CAA18D/sources/session-91DFCFA2/884F09AA-contents
RData/.Rproj.user/16CAA18D/sources/session-91DFCFA2/90CF0DDF
RData/.Rproj.user/16CAA18D/sources/session-91DFCFA2/90CF0DDF-contents
RData/.Rproj.user/16CAA18D/sources/session-91DFCFA2/B355E87C
RData/.Rproj.user/16CAA18D/sources/session-91DFCFA2/B355E87C-contents
RData/.Rproj.user/16CAA18D/sources/session-91DFCFA2/E40EC3FB
RData/.Rproj.user/16CAA18D/sources/session-91DFCFA2/E40EC3FB-contents
RData/.Rproj.user/16CAA18D/sources/session-91DFCFA2/F46510BD
RData/.Rproj.user/16CAA18D/sources/session-91DFCFA2/F46510BD-contents
RData/.Rproj.user/16CAA18D/sources/session-91DFCFA2/F8186092-contents
RData/.Rproj.user/16CAA18D/sources/session-91DFCFA2/FFFB8DA9-contents
RData/.Rproj.user/16CAA18D/sources/session-91DFCFA2/lock_file
RData/.Rproj.user/shared/notebooks/paths
RData/sourcetracker/sourcetracker/sourcetracker2_network_viz3.R
RData/.RData
RData/.Rhistory
RData/.Rproj.user/16CAA18D/pcs/files-pane.pper
RData/.Rproj.user/16CAA18D/pcs/source-pane.pper
RData/.Rproj.user/16CAA18D/sources/session-5DE7467D/2F410BAD
RData/.Rproj.user/16CAA18D/sources/session-5DE7467D/2F410BAD-contents
RData/.Rproj.user/16CAA18D/sources/session-5DE7467D/884F09AA
RData/.Rproj.user/16CAA18D/sources/session-5DE7467D/884F09AA-contents
RData/.Rproj.user/16CAA18D/sources/session-5DE7467D/90CF0DDF
RData/.Rproj.user/16CAA18D/sources/session-5DE7467D/90CF0DDF-contents
RData/.Rproj.user/16CAA18D/sources/session-5DE7467D/B355E87C
RData/.Rproj.user/16CAA18D/sources/session-5DE7467D/B355E87C-contents
RData/.Rproj.user/16CAA18D/sources/session-5DE7467D/D4287616
RData/.Rproj.user/16CAA18D/sources/session-5DE7467D/D4287616-contents
RData/.Rproj.user/16CAA18D/sources/session-5DE7467D/E40EC3FB
RData/.Rproj.user/16CAA18D/sources/session-5DE7467D/E40EC3FB-contents
RData/.Rproj.user/16CAA18D/sources/session-5DE7467D/F46510BD
RData/.Rproj.user/16CAA18D/sources/session-5DE7467D/F46510BD-contents
RData/.Rproj.user/16CAA18D/sources/session-5DE7467D/lock_file
RData/.Rproj.user/16CAA18D/sources/session-5DE7467D/766C0555
RData/.Rproj.user/16CAA18D/sources/session-5DE7467D/766C0555-contents
RData/.Rproj.user/16CAA18D/pcs/files-pane.pper
RData/.Rproj.user/16CAA18D/pcs/source-pane.pper
RData/.Rproj.user/16CAA18D/pcs/windowlayoutstate.pper
RData/.Rproj.user/16CAA18D/pcs/workbench-pane.pper
RData/.Rproj.user/16CAA18D/sources/prop/20AA88EA
RData/.Rproj.user/16CAA18D/sources/prop/2D4850BA
RData/.Rproj.user/16CAA18D/sources/prop/77C799A6
RData/.Rproj.user/16CAA18D/sources/prop/D64A8790
RData/.Rproj.user/16CAA18D/sources/prop/INDEX
RData/.Rproj.user/16CAA18D/sources/session-6DFDE788/0803B913
RData/.Rproj.user/16CAA18D/sources/session-6DFDE788/0803B913-contents
RData/.Rproj.user/16CAA18D/sources/session-6DFDE788/098D2FF5
RData/.Rproj.user/16CAA18D/sources/session-6DFDE788/098D2FF5-contents
RData/.Rproj.user/16CAA18D/sources/session-6DFDE788/2F410BAD
RData/.Rproj.user/16CAA18D/sources/session-6DFDE788/2F410BAD-contents
RData/.Rproj.user/16CAA18D/sources/session-6DFDE788/59733A6A
RData/.Rproj.user/16CAA18D/sources/session-6DFDE788/59733A6A-contents
RData/.Rproj.user/16CAA18D/sources/session-6DFDE788/6F35BC3A-contents
RData/.Rproj.user/16CAA18D/sources/session-6DFDE788/6F968B94-contents
RData/.Rproj.user/16CAA18D/sources/session-6DFDE788/72C35FB0-contents
RData/.Rproj.user/16CAA18D/sources/session-6DFDE788/766C0555
RData/.Rproj.user/16CAA18D/sources/session-6DFDE788/766C0555-contents
RData/.Rproj.user/16CAA18D/sources/session-6DFDE788/884F09AA
RData/.Rproj.user/16CAA18D/sources/session-6DFDE788/884F09AA-contents
RData/.Rproj.user/16CAA18D/sources/session-6DFDE788/90CF0DDF-contents
RData/.Rproj.user/16CAA18D/sources/session-6DFDE788/A3906DC2
RData/.Rproj.user/16CAA18D/sources/session-6DFDE788/A3906DC2-contents
RData/.Rproj.user/16CAA18D/sources/session-6DFDE788/D4287616
RData/.Rproj.user/16CAA18D/sources/session-6DFDE788/D4287616-contents
RData/.Rproj.user/16CAA18D/sources/session-6DFDE788/DDDC832C
RData/.Rproj.user/16CAA18D/sources/session-6DFDE788/DDDC832C-contents
RData/.Rproj.user/16CAA18D/sources/session-6DFDE788/E40EC3FB-contents
RData/.Rproj.user/16CAA18D/sources/session-6DFDE788/F46510BD
RData/.Rproj.user/16CAA18D/sources/session-6DFDE788/F46510BD-contents
RData/.Rproj.user/16CAA18D/sources/session-6DFDE788/lock_file
RData/.Rproj.user/shared/notebooks/paths
RData/.Rproj.user/shared/notebooks/paths
RData/.Rproj.user/16CAA18D/sources/prop/INDEX
RData/.Rproj.user/16CAA18D/pcs/workbench-pane.pper
RData/.Rproj.user/16CAA18D/pcs/windowlayoutstate.pper
RData/.Rproj.user/16CAA18D/pcs/source-pane.pper
RData/.Rproj.user/16CAA18D/pcs/files-pane.pper
RData/.RData
